/***************COLORS*********************/
$blacke_color: #000000;
$white_color: #ffffff;
$interectiv_color: #ec7979;
$interectiv_color2: #ab4949;
$form_color: #bdbdbd;
$socialFon_color: #f8efef;
$SomeText_color: #86878b;
$tab_color: #c6cbcd;
$options_color: #F5F5F5;
$options_color2:#333333;
$options_color3: #FFFFFF80;
$options_shadow:#33333333;
$customers_color: #E2E2E2;
$contact_color:#BDBDBD;
$svg_color:#CCCCCC;
$svg_color-hov: #746f6f;

/**************FONT_SIZE*****************/
$extra-smoll: 13px;
$smoll: 14px;
$middle: 18px;
$md-large: 24px;
$large: 30px;
$extra-large: 36px;
$super-large: 48px;

/**************FONT_Weight*****************/
$thin: 400;
$thin-md: 500;
$standart: 600;
$bold: 700;
